<div class="featured">
  <%= render partial: 'spree/shared/featured_product', locals: { product: @products.find_by(slug: "espalmador-sandals")}%>

  <%= render partial: 'spree/shared/taxon_card'%>

  <div class="featured__row">
  <%= render partial: 'spree/shared/taxon_card_small'%>
  <%= render partial: 'spree/shared/taxon_card_small'%>
  </div>
  <div class="featured__row">

      <div class="third-card ">
        <%= link_to "/t/woman/shoes" do %>
          <%= image_tag "featured1.png", class: "square-card__picture"%>
          <a href="/t/woman/shoes" class= "btn btn--white btn--third"><%=t('amanda.home.shoes')%></a>
        <% end %>
      </div>
      <div class="third-card">
       <%= link_to "/t/woman/bags" do %>
          <%= image_tag "featured2.png", class: "square-card__picture"%>
          <a href="/t/woman/bags" class= "btn btn--white btn--third"><%=t('amanda.home.bags')%></a>
        <% end %>
      </div>
      <div class="third-card">
       <%= link_to "/t/woman/bags" do %>
          <%= image_tag "featured2.png", class: "square-card__picture"%>
          <a href="/t/woman/bags" class= "btn btn--white btn--third"><%=t('amanda.home.belts')%></a>
        <% end %>
      </div>

  </div>
</div>
