<div class="mail-wrapper">
  <div class="mail-container">
    <p class="lede">
            <%= t('.dear_customer') %>
          </p>
          <p>
            <%= t('.instructions') %>
          </p>
          <p>
            <%= t('.order_summary') %>
          </p>
    <%=image_tag "logo.png" %>
    <h3>Order confirmation for order <%= @order.number %> </h3>

          ___________________________________________________________________
    <table>
        <colgroup>
          <col style="width: 40%;" />
          <col style="width: 20%;" />
          <col style="width: 20%;" />
          <col style="width: 20%;" />

        </colgroup>

        <thead>
          <tr>
            <th> <%= t('.article') %></th>
            <th> <%= t('.size')  %></th>
            <th><%= t('.amount') %></th>
            <th><%= t('.price')%></th>
          </tr>
        </thead>

        <tbody>
        <% @order.line_items.each do |item| %>
        <tr>
          <td><%= item.variant.product.name %></td>
          <td><%= item.variant.options_text %></td>
          <td><%=item.quantity%></td>
          <td><%= item.single_money %></td>

        </tr>
        <% end %>
         <tr>
          <td colspan="3"><%= t('.shipment')%></td>
          <td><%=@order.shipment_total  %></td>
        </tr>
        <tr>
          <td colspan="3"><%= t('.total')%></td>
          <td><%=@order.total %></td>
        </tr>
          <tr class="edit-tracking vertical-middle">
          </tr>
        </tbody>
      </table>

      <p><%=@order.ship_address  %> </p>
  </div>
</div>



      ____________________________________________________________________





