<!-- <div class="featured">
  <%= #render partial: 'spree/shared/featured_product' , locals: { product: @products.find_by(slug: "la-mola-necklace")}%>

  <%= #render partial: 'spree/shared/featured_product__right', locals: { product: @products.find_by(slug: "la-mola-necklace")}%>
  <%= #render partial: 'spree/shared/featured_product' , locals: { product: @products.find_by(slug: "la-mola-necklace")}%>
  <%= #render partial: 'spree/shared/featured_product__right', locals: { product: @products.find_by(slug: "la-mola-necklace")}%>
  <%= #render partial: 'spree/shared/featured_product' , locals: { product: @products.find_by(slug: "la-mola-necklace")}%>
  <%= #render partial: 'spree/shared/featured_product__right', locals: { product: @products.find_by(slug: "la-mola-necklace")}%>
  <% @products = @products.reject{|#| product == @products.find_by(#slug: "la-mola-necklace")} %>

</div> -->
<%= @products.find_by(slug: "la-mola-necklace").name %>
