<div class="featured">
  <%= render partial: 'spree/shared/featured_product' , locals: { product: @products.find_by(slug: "es-calo-bracelet")}%>

  <%= render partial: 'spree/shared/featured_product__right', locals: { product: @products.find_by(slug: "es-calo-bracelet")}%>
  <%= render partial: 'spree/shared/featured_product' , locals: { product: @products.find_by(slug: "es-calo-bracelet")}%>
  <%= render partial: 'spree/shared/featured_product__right', locals: { product: @products.find_by(slug: "es-calo-bracelet")}%>
  <%= render partial: 'spree/shared/featured_product' , locals: { product: @products.find_by(slug: "es-calo-bracelet")}%>
  <%= render partial: 'spree/shared/featured_product__right', locals: { product: @products.find_by(slug: "es-calo-bracelet")}%>
  <% @products = @products.reject{|product| product == @products.find_by(slug: "es-calo-bracelet")} %>

</div>
