
<div class="checkout__form-section">
  <fieldset id='shipping_method' data-hook >
    <legend><%= t('spree.delivery') %></legend>
    <div class="inner" data-hook="shipping_method_inner">
      <div id="methods">

        <%= form.fields_for :shipments do |ship_form| %>

          <div class="shipment">

            <ul class="radios shipping-methods">
              <% ship_form.object.shipping_rates.each do |rate| %>

                <li class="shipping-method">
                  <label>
                    <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                    <span class="rate-name"><%= rate.name %></span>
                    <span class="rate-cost"><%= rate.display_cost %></span>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>

        <% end %>



      </div>
      <% if Spree::Config[:shipping_instructions] %>
        <p id="minstrs" data-hook>
          <%= form.label :special_instructions, t('spree.shipping_instructions') %><br />
          <%= form.text_area :special_instructions, cols: 40, rows: 7 %>
        </p>
      <% end %>
    </div>
  </fieldset>

  <br />

  <div class="form-buttons" data-hook="buttons">
    <%= submit_tag t('spree.save_and_continue'), class: 'btn--large btn--black' %>
  </div>
</div>

