
<% cache [I18n.locale, current_pricing_options, @product] do %>
<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>
  <div class="product-show">
    <div class="product-show__left">
      <div id="product-images" class="product-show__images" data-hook="product_images">
        <div id="thumbnails" data-hook class="product-show__thumbnails product-show__thumbnails--left" >
          <%= render partial: 'thumbnails' %>
        </div>
        <div id="main-image" data-hook class= "product-show__image">
          <%= render partial: 'image' %>
        </div>
        <div id="thumbnails" data-hook class="product-show__thumbnails product-show__thumbnails--down" >
          <%= render partial: 'thumbnails' %>
        </div>

      </div>
    </div>


    <div class="product-show__right">
      <h1 class="product-show__title" itemprop="name"><%= @product.name %></h1>
      <h1 class="product-show__price"><%= display_price(@product) %></h1>
      <div id="cart-form" data-hook="cart_form">
        <%= render partial: 'cart_form' %>
      </div>
    </div>
  </div>








<%= render partial: 'taxons' %>




<% end %>
