<div class="row">
  <div class="col-12">



    <fieldset class="price-fieldset no-border-bottom <%= "no-border-top" if !variants %>">
      <legend align="center"><%= I18n.t(:master_variant, scope: :spree) %> <%= admin_hint I18n.t(:master_variant, scope: :spree), I18n.t(:master_variant, scope: [:spree, :hints, "spree/price"]) %></legend>

        <h4> <%= @product.name  %> </h4>


         <% master_prices.each do |price| %>
          <div id="<%= spree_dom_id price %>" data-hook="prices_row" class="<%= "deleted" if price.deleted? %>">
            <h2><%= price.money.to_html %></h2>
            <h4>

              <% if can?(:update, price) %>
                <%=link_to_edit(price, no_text: true) unless price.deleted? %>
              <% end %>
              <% if can?(:destroy, price) %>
                &nbsp;
                <%= link_to_delete(price, no_text: true) unless price.deleted? %>
              <% end %>
            </h4>
          </div>
        <% end %>


    </fieldset>
  </div>
</div>
