<div class="featured__row">

  <div class="square-card ">
    <%= image_tag "jose.jpg", class: "square-card__picture"%>

  </div>

  <div class="square-card  square-card--text--ishvara">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=t('amanda.history.title1')%>
      </h2>
      <p class="heading-secondary--sub">
        <%=t('amanda.history.text1')%>
      </p>

    </div>
  </div>
</div>

<div class="featured__row">
  <div class="whole-width">
    <%= image_tag "jacques.png", class: "whole-width__picture"%>
  </div>
</div>


<div class="featured__row">

  <div class="square-card  square-card--text--ishvara">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=t('amanda.history.title2')%>
      </h2>
      <p class="heading-secondary--sub">
        <%=t('amanda.history.text2')%>
      </p>

    </div>
  </div>

  <div class="square-card ">
    <%= image_tag "molino.png", class: "square-card__picture"%>

  </div>
</div>


<div class="featured__row">

  <div class="square-card ">
    <%= image_tag "jose-cortando.png", class: "square-card__picture"%>

  </div>

  <div class="square-card  square-card--text--ishvara">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=t('amanda.history.title3')%>
      </h2>
      <p class="heading-secondary--sub">
        <%=t('amanda.history.text3')%>
      </p>

    </div>
  </div>
</div>

<div class="featured__row">

  <div class="square-card  square-card--text--ishvara">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=t('amanda.history.title4')%>
      </h2>
      <p class="heading-secondary--sub">
        <%=t('amanda.history.text4')%>
      </p>

    </div>
  </div>

  <div class="square-card ">
    <%= image_tag "marca.png", class: "square-card__picture"%>

  </div>
</div>

