
<div class="featured__row">
      <div class="square-card square-card--text">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=product.name%>
      </h2>
      <p class="heading-secondary--sub">
        <%= product_description(product)%>
      </p>
      <br>
      <span class="padding-2"></span>

      <%=  link_to spree.product_path(product, taxon_id: @taxon.try(:id)) do%>
        <p class= "btn btn--black margin-top-medium"><%=t('amanda.buy')%></a>
      <% end %>
    </div>
  </div>

    <div class="square-card">
      <%= link_to spree.product_path(product, taxon_id: @taxon.try(:id)) do %>
        <% if defined?(image) && image %>
          <%= render 'spree/shared/image_featured', image: image, size: :large, itemprop: "image" , class: "square-card__picture"%>
        <% else %>
          <%= render 'spree/shared/image_featured', image: product.display_image, size: :large, itemprop: "image" , class: "square-card__picture"%>
          <% end %>
      <p class="featured__price--right"><%=product.name  %> &nbsp <strong><%=product.price.to_f.truncate(0)  %> €</strong></p>
      <% end %>
    </div>




</div>
