<div class="featured__row">

    <div class="square-card featured-product-mobile">
      <%= link_to spree.product_path(product, taxon_id: @taxon.try(:id)) do %>
        <% if defined?(image) && image %>

          <%= render 'spree/shared/image_featured', image: image, size: :large, itemprop: "image"%>

        <% else %>
          <%= render 'spree/shared/image_featured', image: product.display_image, size: :large, itemprop: "image" %>
          <% end %>
          <h2 class= "btn btn--white btn--featured-product btn--phone"><%=product.name%></h2>

      <p class="featured__price"><%=product.name  %> &nbsp <strong><%=product.price.to_f.truncate(0)  %> €</strong></p>
      <% end %>
    </div>



  <div class="square-card square-card--text">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=product.name%>
      </h2>
      <p class="heading-secondary--sub">
        <%= product_description(product)%>
      </p>
      <br>
      <span class="padding-2"></span>

      <%=  link_to spree.product_path(product, taxon_id: @taxon.try(:id)) do%>
        <p class= "btn btn--black margin-top-medium"><%=t('amanda.buy')%></a>
      <% end %>
    </div>
  </div>
</div>
