<div class="featured__row">

  <div class="square-card square-card--text">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=t('amanda.featured.woman.shoes_title')%>
      </h2>
      <p class="heading-secondary--sub">
        <%=t('amanda.featured.woman.shoes_text_l1')%>
        <br>
        <%=t('amanda.featured.woman.shoes_text_l2')%>
      </p>
      <br>
      <span class="padding-2"></span>

      <a href="/t/woman/bags" class= "btn btn--black margin-top-medium"><%=t('amanda.home.belts')%></a>
    </div>
  </div>

  <div class="square-card">
    <%= link_to "/t/woman/shoes" do %>
    <%= image_tag "featured1.png", class: "square-card__picture"%>
    <% end %>
    <p class="featured__price--right">Sandalias eva <strong>85€</strong></p>
  </div>

</div>
