<div class="featured">
  <div class="featured__row">

      <div class="square-card square-card--shaded square-card--text">
        <div class="heading-secondary">
          <h2 class="heading-secondary--main">
            <%=t('amanda.home.visit')%>
          </h2>
          <p class="heading-secondary--sub">
            <%=t('amanda.home.jose')%>
          </p>
          <br>
          <span class="padding-2">
          <p class="heading-secondary--sub">
            Porto Saler, 6 • Sant Francesc Xavier • Formentera •
          </p>
          </span>
        </div>
      </div>
      <div class="square-card square-card--shaded">
        <%= link_to "#" do %>
          <%= image_tag "jose.jpg", class: "square-card__picture"%>
        <% end %>
      </div>

  </div>

  <div class="featured__row">

      <div class="square-card square-card--shaded">
        <%= link_to "/t/woman/shoes" do %>
          <%= image_tag "featured1.png", class: "square-card__picture"%>
          <a href="/t/woman/shoes" class= "btn btn--white btn--featured"><%=t('amanda.home.shoes')%></a>
        <% end %>
      </div>
      <div class="square-card">
       <%= link_to "/t/woman/bags" do %>
          <%= image_tag "featured2.png", class: "square-card__picture"%>
          <a href="/t/woman/bags" class= "btn btn--white btn--featured"><%=t('amanda.home.bags')%></a>
        <% end %>
      </div>

  </div>
</div>
