<div class="top">
  <!-- LOGIN -->
  <fieldset class="header-login header-login--invisible" id="home-login">
      <div class="header-login__left">
        <h3 class="header-login__title"><%=t('amanda.devise.register')%></h3>
          <br>
          <br>
          <br>
        <btn  class="btn btn--black btn--down">
          <%=t('amanda.devise.register_cta')%>
        </btn>
      </div>
      <div class="header-login__right">
      <h3 class="header-login__title"><%=t('amanda.devise.log_in')%></h3>
        <%= render partial: 'spree/shared/login' %>
      </div>
  </fieldset>
<!-- SEARCHBAR  -->
  <div id="search-bar" data-hook>
    <%= render partial: 'spree/shared/search' %>
  </div>
<!-- NAVBAR   -->
  <div class="navbar">

    <!-- Logo -->
    <div id="nav-bar" class="navbar__logo-box">
      <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "navbar__logo-box__image"%>
      <% end %>
    </div>

    <!-- Links  -->

     <nav  class="navbar--center taxonomies-list" data-hook>
      <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
        <% @taxonomies.each do |taxonomy| %>
        <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
            <div class="taxonomies-list__taxonomy taxonomies-list__n<%= taxonomy.position %>">
                <h4>  <%= link_to taxonomy.name, seo_url(taxonomy.root), class: "taxonomies-list__taxonomy__major" %></h4>
                <%= nav_tree(taxonomy.root, @taxon, max_level)%>
            </div>
          <% end %>
        <% end %>


        <div class="taxonomies-list__taxonomy taxonomies-list__n4">
          <h4><%= link_to "ishvara", "#", class: "taxonomies-list__taxonomy__major" %></h4>
           <div class="nosotros taxonomies-list__taxonomy__subtaxons list-inline">
            <h5><%= link_to "historia", main_app.ishvara_historia_path%></h5>
            <h5><%= link_to "prensa", main_app.ishvara_prensa_path%></h5>
            <h5><%= link_to "pasarela", main_app.ishvara_pasarela_path%></h5>

           </div>
        </div>

    </nav>

    <!-- NAVBAR RIGHT ICONS-->
    <div class="navbar--right list-inline">

        <div class="navbar__locales">
          <h4><li><%= link_to 'EN  |', root_path(locale: :en) %></li></h4>
          <h4><li><%= link_to 'ES  |', root_path(locale: :es) %></li></h4>
          <h4><li><%= link_to 'FR', root_path(locale: :fr) %></li></h4>
        </div>
        <button id="user-icon" class=" navbar--right__icon">
          <i class=" fa fa-user" ></i>
        </button>
        <button id="search" class=" navbar--right__icon">
          <i class=" fa fa-search" ></i>
        </button>

        <%= link_to spree.cart_path do %>
          <i class="navbar--right__icon fa fa-shopping-bag" id="shop"></i>
        <% end %>
    </div>
  </div>

</div>



